.navbar {
    /* border-bottom: 1px solid black;
    display: flex; */
}
.centre{
    margin: auto;
  width: 50%;
  padding: 10px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.nav-logo {
    max-height: 17px;
    vertical-align: middle;
    position: relative;
    top: 28px;
}

.nav_item{
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    position: relative;
    align-items: center;
    padding-right: 150px;
}

.nav_list{
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
}

.list{
    display: inline-block;
    margin: 10px;
}

.landing{
    align-items: center;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

.landing_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.two_part{
    margin: auto;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.landing_txt{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.list_award{
    display: flex;
}

.press_logo{
    width: 50px;
}

.centre_area{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.ecosystem{
    height: 500px;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; */
}

.centre_txt{
    justify-content: center; 
    text-align: center; 
    width: 100%;
}

.footer{
    text-align: left;
    display: flex;
}

.foot_logo{
    margin-left: 100px;
}

.foot_1, .foot_2, .foot_3{
    margin: 50px;
}

.foot_txt{
    margin-top: 0px;
    margin-left: 300px;
    display: flex;
    text-align: left;
}